/*global settings*/
:root{
  --colorhf: blanchedalmond;;
  --headerfont: Georgia, 'Times New Roman', Times, serif; 
  --dark: darkblue;
}
  
  body {
    min-height: 100%;
    line-height: 1.5;
    font-family: sans-serif;
  }
  
  header{
  padding-left: 5%;
  background-color: var(--colorhf);
  }

  nav{
    display: inline-flex;
  }

  nav a {
    padding: 5px;
    float: right;
    text-align: center;
  }
/*various headings*/
  h1 {
    font-size: 300%;
    font-family: var(--headerfont);
    
  }
  
  h2 {
    font-size: 200%;
    font-family: var(--headerfont)
    
  }  

  h3  {
    font-size: 150%;
  }


  ol, ul {
    list-style: none;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }



 
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }