/*global settings*/
:root {
  --colorhf: blanchedalmond;
  --headerfont: Georgia, "Times New Roman", Times, serif;
  --textfont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --dark: rgb(34, 28, 12);
  --lilwidth: 400px;
  --navdcolor: #d8a47f;
  --hovercolor: rgb(26, 54, 54);
}

body {
  min-height: 100%;
  line-height: 1.5;
  font-family: var(--textfont);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2%;
  background-color: var(--colorhf);
  color: var(--light);
}

.header-nav-ul {
  font-family: var(--textfont);
  font-size: 125%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-width: 350px;
  min-height: 10px;
  font-weight: bolder;
}

a:link {
  color:rgb(112, 51, 28);
}

a:visited {
  color:rgb(112, 51, 28);
}

a:hover {
  color: (--dark);
  text-shadow: 2px 2px 8px var(--hovercolor);
}

a:active{
  color: (whitesmoke);
  text-shadow: 2px 2px 8px var(--hovercolor);
}


main img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/*various headings*/
h1 {
  font-size: 300%;
  font-family: var(--headerfont);
  /* flex-direction: column; */
}

h2 {
  font-size: 200%;
  font-family: var(--headerfont);
}

h3 {
  font-size: 150%;
  font-family: var(--headerfont);
}

.not100 {
  margin: 2%;
}


.about {
  display: flex;
  /* border: solid 2px pink; */
  flex-direction: column;
}

  .about-me-title {
  /* border: solid 2px black;  */
  border-bottom: 7px solid var(--dark);
  width: 25100;
  margin: 1rem;
  padding-bottom: 1rem;
  display: inline-flex;
  }
/* do this for work and contact */
  .about h2 {
  text-align: center;
  /* margin: auto 0; */
  /* max-height: 0; */
  height: fit-content;
  align-self: center;
  }

  .about-me-content {
  text-align: left;
  margin: 1rem;
  }
  .work {
    display: flex;
    /* border: solid 2px pink; */
    flex-direction: column;
    padding: 1rem;
  }
  
  .work-title {
    /* border: solid 2px black;  */
    border-bottom: 7px solid var(--dark);
    width: 25100;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    
  }

  .work-content{
    flex-direction:column;
  }

  .big-one #biggie img {
    width: 100%;
    height:100%;
  }

  .lil-cards {
   display:flex;
   flex-wrap: wrap; 
  }

  .card{
    flex: basis 300;;
    padding: 1rem;
  }

  .big-one img:hover{
    filter:saturate(2.2) drop-shadow(0 0 1rem var(--hovercolor)); 
  }
  .card img:hover{
    filter:saturate(2.2) drop-shadow(0 0 1rem var(--hovercolor)); 
  }


ol,
ul {
  list-style: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  flex-direction: column;
  /* border: solid 2px pink; */
}

.contact-title{
/* border: solid 2px black;  */
border-bottom: 7px solid var(--dark);
width: 25100;
margin: 1rem;
padding-bottom: 1rem;


}
.contact-content a {
  display: flex;
  flex-direction: column;
  font-family: var(--textfont);
  font-weight: bolder;
}



@media screen and (min-width: 768px) {
  /* main,
  nav,
  ul {
    flex-direction: row;
  } */

  header, .header-nav-ul {
    flex-direction: row;
  }

  .about {
    display: flex;
    /* border: solid 2px pink; */
    flex-direction: row;
    padding: 1rem;
  }

  .about-me-title {
    /* border: solid 2px black;  */
    border-bottom: none;
    border-right: 7px solid var(--dark);
    width: 25100;
    margin-right: 1rem;
    padding-right: 1rem;
  
}

.work {
  display: flex;
  /* border: solid 2px pink; */
  flex-direction: row;
  padding: 1rem;
}

.big-one #biggie img {
  width: 100%;
  height:100%;
}
 .lil-cards img {
  width: 450px;
  height: 250px: 
  display:flex;
  flex-wrap: wrap;
  padding: 1rem; 
} 
.work-title {
  /* border: solid 2px black;  */
  border-bottom: none;
  border-right: 7px solid var(--dark);
  width: 25100;
  margin-right: 1rem;
  padding-right: 1rem;
  
}

.work-content{
  display:flex;
}

.contact-title {
  /* border: solid 2px black;  */
  border-bottom: none;
  border-right: 7px solid var(--dark);
  width: 25100;
  margin-right: 1rem;
  padding-right: 1rem;
  
}

.contact {
display:inline-flex;
  flex-direction: row;
}
 .contact-content ul {
  display:inline-flex;
  padding: 2%;
  
}
}